<!DOCTYPE html>

<html lang="es-MX" class="light-style">

<head>
  <title>Password reset</title>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <!-- Icon fonts -->
  <link rel="stylesheet" href="vendor/fonts/fontawesome.css">

  <link rel="stylesheet" href="vendor/css/rtl/bootstrap.css">
  <link rel="stylesheet" href="vendor/css/rtl/appwork.css">
  <link rel="stylesheet" href="vendor/css/rtl/theme-corporate.css">
  <link rel="stylesheet" href="vendor/css/colors.css">
  <link rel="stylesheet" href="vendor/css/rtl/uikit.css">
  <link rel="stylesheet" href="vendor/css/pages/authentication.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>
  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
    <div class="ui-bg-overlay bg-dark"></div>

    <div class="authentication-inner py-5">
      <div class="card">
        <div class="p-5">
          <!-- Logo -->
          <div class="text-success d-flex justify-content-center align-items-center flex-column pb-2">
            <i class="fas fa-seedling" style="font-size: xx-large;"></i>
            <h4 class="text-center font-weight-normal">Agroclim</h4>
          </div>
          <!-- / Logo -->

          <form th:action="@{/change-password}" method="post" enctype="utf8">
            <input type="hidden" name="token" th:value="${token}">
            <h5 class="text-center text-muted font-weight-normal mb-4">Restablecer contraseña</h5>
            <hr class="mt-0 mb-4">
            <p>Escriba una nueva contraseña para porder iniciar sesión en su cuenta</p>
            <div class="form-group">
              <label class="form-label">Nueva contraseña</label>
              <input type="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
              <label class="form-label">Escriba nuevamente la contraseña</label>
              <input type="password" name="passwordConfirm" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>