<!DOCTYPE html>

<html lang="es-MX" class="light-style">

<head>
  <title>Signup</title>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Signup">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

   <!-- Icon fonts -->
   <link rel="stylesheet" href="vendor/fonts/fontawesome.css">

  <link rel="stylesheet" href="vendor/css/rtl/bootstrap.css">
  <link rel="stylesheet" href="vendor/css/rtl/appwork.css">
  <link rel="stylesheet" href="vendor/css/rtl/theme-corporate.css">
  <link rel="stylesheet" href="vendor/css/colors.css">
  <link rel="stylesheet" href="vendor/css/rtl/uikit.css">
  <link rel="stylesheet" href="vendor/css/pages/authentication.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>
  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
    <div class="ui-bg-overlay bg-dark"></div>

    <div class="authentication-inner py-5">
      <div class="card">
        <div th:if="${error}" class="alert alert-dark-danger mt-3 mx-3 mb-0">
          Ya existe una cuenta con este correo electrónico
        </div>

        <div class="px-5 pt-5 pb-2">
          <!-- Logo -->
          <div class="text-success d-flex justify-content-center align-items-center flex-column pb-2">
            <i class="fas fa-seedling" style="font-size: xx-large;"></i>
            <h4 class="text-center font-weight-normal">Agroclim</h4>
          </div>
          <!-- / Logo -->

          <form th:action="@{/signup}" th:object="${user}" method="post" enctype="utf8">
            <h5 class="text-center text-muted font-weight-normal mb-4">Crear cuenta</h5>
            <div class="form-group">
              <label class="form-label">Nombre completo</label>
              <input th:field="*{fullname}" type="text" name="fullname" class="form-control" required>
            </div>
            <div class="form-group">
              <label class="form-label">Correo electrónico</label>
              <input th:field="*{email}" type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label class="form-label">Contraseña</label>
              <input th:field="*{password}" type="text" name="password" class="form-control" required>
            </div>
            <div class="d-flex justify-content-end align-items-end m-0">
              <button type="submit" class="btn btn-success btn-block">Crear cuenta</button>
            </div>
            <div class="text-center text-muted mt-3">
              Al hacer clic en "Crear cuenta", aceptas nuestros <a href="javascript:void(0)">terminos de servicio</a> y
              nuestra <a href="javascript:void(0)">política de privacidad</a>.
            </div>
          </form>
        </div>
        <div class="px-5 pb-4">
          <div class="row">
            <div class="col-12 text-center">
              <hr class="mt-4 mb-0">
              <span class="login-providers-text px-2 bg-white">o regístrate con</span>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2">
              <a th:href="@{/oauth2/authorization/google}" class="btn btn-google btn-block">Google</a>
            </div>
          </div>
          <div class="text-center text-muted mt-3">
            ¿Ya tienes cuenta? <a th:href="@{/login}">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>